.about {
    display: flex;
  }
  
  .about-title {
    font-family: Swear Display;
    font-style: italic;
    font-weight: 100;
    width: 50%;
    padding-left: 5%;
    font-size: 50px;
  }
  
  .about-content {
    width: 50%;
    padding-top: 5%;
    padding-right: 5%;
  }