.CardContainer {
  display: flex;
  justify-content:flex-start;
  align-items:center;
  overflow-x: scroll;
  scroll-behavior:smooth;
}
::-webkit-scrollbar{
  display: none;
}
.Card{
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin:15px;
  min-width: 190px;
  min-height: 210px;
  background-color: rgb(213, 213, 213);
  border-radius: 20px;
  border-color: transparent;
  transition: all 0.3s ease 0s;
}
.Card:hover{
  transform: scale(1.05);
  transition: all 0.3s ease 0s;
}
.CardInside{
  display: flex;
  justify-content: center;
  align-items: center;
  color:black;
  text-decoration: none;
  width: 170px;
  height: 20px;
  background-color: rgb(213, 213, 213);
  border:solid 1px black;
  border-radius: 20px;
  margin-bottom: 10px;
  text-align: center;
  transition: all 0.3s ease 0s;
}
.CardInside:hover{
  background-color: black;
  color: white;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}
